h1{
    color: red;
}

body{
    min-height: 100vh;
    position: relative;
}
footer {
    position: absolute ;
    bottom: 0px;
    width: -webkit-fill-available;
    width: -moz-available;
}

nav li a{
    font-weight: bold !important;
    font-size: 20px !important;
}

@media screen and (max-width: 575.98px)
{
    .li_f{
        margin-bottom: 10px;
    }
}